<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClearScoreDonut.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83E5F86D2056A6D300068792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83E5F8812056A6D300068792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83E5F88C2056A6D400068792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
